@import './core/_core';

.app {
  padding: 30px;
}

.header {
  &__title {
    margin-top: 0;
  }
}

.btn-active {
  background-color: rgba(255, 230, 0, 0.842);
}

.table {
  width: 100%;
  max-width: 850px;
  margin-top: 50px;
  padding: 5px 25px;
  background-color: #f5f5e9;

  &__head {
    font-size: 14px;
    font-weight: 600;

    .table__cell {
      padding: 25px 0;
    }
  }

  &__row {
    display: flex;
    border-bottom: 1px solid #d8d5c2;

    &:last-child {
      border: none;
    }
  }

  &__cell {
    width: 25%;
    padding: 25px 0;

    &_exercise {
      font-weight: 600;
      font-size: 14px;
    }

    &_approach {
      // font-weight: 600;
    }

    &_low {
      color: #54cd9a;
    }

    &_medium {
      color: #fc9a14;
    }

    &_high {
      color: #ec2f2a;
    }
  }
}